<mat-card [ngClass]="online" gdAreas="header | content | footer">
  <mat-card-header gdArea="header">
    <img
      mat-card-avatar
      *ngIf="user.profile_image_url"
      src="{{ user.profile_image_url }}"
    />

    <mat-card-title-group>
      <mat-card-title>{{ user.display_name }}</mat-card-title>
      <mat-card-subtitle>{{
        user.stream && user.stream.title
      }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content gdArea="content">
    <div id="{{ user.stream.id }}"></div>

    <script-hack>{{ loadVideo() }}</script-hack>
  </mat-card-content>
</mat-card>
