<ng-container *ngIf="user">
  <twitch-helix-card [ngClass]="user.stream && user.stream.type === 'live' ? 'online' : 'offline'">
    <ng-container card-header>
  
      <img mat-card-avatar
            *ngIf="user.profile_image_url"
            src="{{ user.profile_image_url }}"/>
  
      <mat-card-title-group>
        <mat-card-title>{{ user.display_name }}</mat-card-title>
        <mat-card-subtitle>{{ user.stream && user.stream.title }}</mat-card-subtitle>
      </mat-card-title-group>
  
    </ng-container>

    <ng-container card-content
                  gdAlignColumns="center center"
                  *ngIf="!collapsed">
  
      <ng-container *ngIf="interactive && !collapsed">
          <twitch-helix-video [id]="user.stream.id"
                              [videoType]="videoType"
                              [videoName]="videoName"
                              [width]="width"
                              [height]="height"></twitch-helix-video>
      </ng-container>
      <ng-container *ngIf="!interactive">
        <script-hack>{{ loadNonInteractiveVideo() }}</script-hack>
      </ng-container>
                
    </ng-container>
    
    <ng-container card-footer>
        <button mat-button [disabled]="collapsed" (click)="toggleCollapsed()">Collapse Video</button>
        <button mat-button [disabled]="!collapsed" (click)="toggleCollapsed()">Uncollapse Video</button>
    </ng-container>    
  </twitch-helix-card>
</ng-container>

<ng-container *ngIf="clip">

  <pre>{{clip | json}}</pre>
  <twitch-helix-card>
    <ng-container card-header>
      <img mat-card-avatar
           *ngIf="clip.thumbnail_url"
           src="{{ clip.thumbnail_url }}"/>
  
      <mat-card-title-group>
        <mat-card-title>{{ clip.id }}</mat-card-title>
        <mat-card-subtitle>{{ clip.creator_name }}</mat-card-subtitle>
      </mat-card-title-group>
    </ng-container>

    <ng-container card-content
                  gdAlignColumns="center center"
                  *ngIf="!collapsed">
      <ng-container *ngIf="interactive && !collapsed">
          <twitch-helix-video [id]="clip.id"
                              [videoType]="videoType"
                              [videoName]="videoName"
                              [width]="width"
                              [height]="height"></twitch-helix-video>
      </ng-container>
      <ng-container *ngIf="!interactive">
        <script-hack>{{ loadNonInteractiveVideo() }}</script-hack>
      </ng-container>                
    </ng-container>

    <ng-container card-footer>
        <button mat-button [disabled]="collapsed" (click)="toggleCollapsed()">Collapse Video</button>
        <button mat-button [disabled]="!collapsed" (click)="toggleCollapsed()">Uncollapse Video</button>
    </ng-container>    

  </twitch-helix-card>
</ng-container>
