<ng-container>

  <!-- {{ stream | json }} -->
  <!-- [ngStyle]="{background: 'url(/img/' + item.img + ')', width: '200px', height: '150px'" -->
  <div class="jumbotron channel_banner"
       [ngClass]="channel.type==='live' ? 'online' : 'offline'"
       style="height: 100px;">
    <div class="channel_logo"></div>
    <div class="text-center" style="color:white; margin-top: 20px; left: 5px">{{channel.display_name}}</div>
  </div>

  <!-- channel_banner.attr('id', id);
  channel_banner.attr('name', name);
  $('#'+id).css('background-image', 'url("'+banner+'")'); -->

</ng-container>
